@model Marrwie.Models.ArticleViewModel

<form action="#" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Desciption, new { @class = "form-control", cols = 60, rows = 10, })
                @Html.ValidationMessageFor(model => model.Desciption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArticleCategories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (int i = 0; i < Model.ArticleCategories.Count; i++)
                {
                    @Html.HiddenFor(m => m.ArticleCategories[i].Id, new { name = "MyRoles[" + i + "].RoleId" })
                    @Html.CheckBoxFor(m => Model.ArticleCategories[i].HasGot, new { name = "MyRoles[" + i + "].HasGot" })
                    <label>@Model.ArticleCategories[i].Name</label>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Dosyalar</label>
            <div class="col-md-10">
                <input type="file" name="ArticleFiles" multiple>
                <br>
                After uploading multiple files, click Submit.
                <br>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


