@model Marrwie.Models.HomeViewModel
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Articles)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <span style="font-size:10px;color:red;">@item.ArticleCategoriesString</span><h6><span>@item.CreatedUserName</span></h6>
                    <hr />
                    <a href="@Url.Action("GetArticle","Article", new { id = item.Id })" class="card-link">Makaleye git</a>
                    @*<a href="#" class="card-link">Another link</a>*@
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 text-center">
        @if (Model.TotalPageNumber != 0)
        {
            <select class="form-control" onchange="location = this.value;">
                @for (int i = 0; i <Model.TotalPageNumber; i++)
                {
                <option @(Model.CurrentPageNumber == i + 1 ? "selected" : "") value="/Home/Index/@Model.CategoryId?pagenumber=@(i + 1)">@(i + 1)</option>
                }
            </select>
        }
    </div>
</div>